title = "〇〇｜日常的に学んでいくことを発信していくサイト"
meta name="description" content="◯◯では、・・・"
meta name="twitter:card" content="summary"
/ meta name="twitter:site" content="@#{SITE_SNS_TWITTER}"
meta name="twitter:title" content="〇〇｜日常的に学んでいくことを発信していくサイト"
meta name="twitter:description" content="◯◯では、・・・"
meta name="twitter:image" content=""
meta property="og:title" content="〇〇｜日常的に学んでいくことを発信していくサイト"
meta property="og:type" content="website"
meta property="og:description" content="◯◯では、・・・"
meta property="og:url" content="https://〇〇"
meta property="og:site_name" content="〇〇"
meta property="og:image" content=""
/ meta property="og:app_id" content="#{SITE_SNS_FACEBOOK}"
link href="〇〇" rel="canonical"