
.top-firstview-area {
  height: 300px;
  .category-area {
    margin: 20px;
  }
  .selected-topic-area {
    height: 100%;
    margin: 20px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 5px #ccc;

    .selected-topic-title {
      position: absolute;
      left: -20px;
    }

    .selected-topic-info {
      position: absolute;
      top: 120px;
      left: 20px;
      width: 55%;
      .title {
        color: $fontNavyColor;
        font-size: 18px;
      }
    }

    img {
      width: 40%;
      position: absolute;
      right: -10px;
      bottom: -10px;
      box-shadow: 0 2px 5px #ccc;
    }

  }

}

.top-pickup-topics {
  height: 1200px;
  .first-topic {
    margin: 20px;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
  // Variables
  $regal-blue: #034378;
  $san-juan: #2d4e68;
  $bermuda: #77d7b9;
  $white: #fff;
  $black: #000;
  $open-sans: 'Open Sans',
  sans-serif;
  // clear-fix mixin
  @mixin cf {
    &::before,
    &::after {
      content: '';
      display: table;
    }
    &::after {
      clear: both;
    }
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-weight: 300;
    font-size: 18px;
  }

  .row {
    max-width: 900px;
    margin: 50px auto 0;
  }

  // Base styles
  .pickup-card {
    float: left;
    width: 100%;

    .first {
      padding: 0 1.7rem;
    }

    .second {
      padding: 0;
    }
    .menu-content {
      @include cf;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
      }
      a {
        color: $white;
      }
      span {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Open Sans';
        transform: translate(-50%, 0);
      }
    }
    .wrapper {
      margin-bottom: 20px;
      background-color: $white;
      min-height: 320px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
      &:hover {
        .data {
          transform: translateY(0);
        }
      }
    }
    .data {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(calc(70px + 1em));
      transition: transform 0.3s;
      .content {
        padding: 1em;
        position: relative;
        z-index: 1;
      }
    }
    .author {
      font-size: 12px;
    }
    .title {
      margin-top: 10px;
      font-size: 18px;
    }
    .text {
      height: 70px;
      margin: 0;
    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox']:checked + .menu-content {
      transform: translateY(-60px);
    }
  }

  // First example styles
  .example-1 {
    .wrapper {
      background: url(https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80) 20% 1% / cover no-repeat;
    }
    .date {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #3F51B5;
      color: $white;
      padding: 0.8em;
      span {
        display: block;
        text-align: center;
      }
      .day {
        font-weight: 700;
        font-size: 24px;
        text-shadow: 2px 3px 2px rgba($black, 0.18);
      }
      .month {
        text-transform: uppercase;
      }
      .month,
      .year {
        font-size: 12px;
      }
    }
    .content {
      background-color: $white;
      box-shadow: 0 5px 30px 10px rgba($black, 0.3);
    }
    .title {
      a {
        color: lighten($black, 50%);
      }
    }
    .menu-button {
      position: absolute;
      z-index: 999;
      top: 16px;
      right: 16px;
      width: 25px;
      text-align: center;
      cursor: pointer;
      span {
        width: 5px;
        height: 5px;
        background-color: lighten($black, 50%);
        color: lighten($black, 50%);
        position: relative;
        display: inline-block;
        border-radius: 50%;
        &::after,
        &::before {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          background-color: currentColor;
          position: absolute;
          border-radius: 50%;
        }
        &::before {
          left: -10px;
        }
        &::after {
          right: -10px;
        }
      }
    }
    .menu-content {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      transition: transform 0.3s;
      transform: translateY(0);
      li {
        width: 33.333333%;
        float: left;
        background-color: $bermuda;
        height: 60px;
        position: relative;
      }
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
      }
      span {
        top: -10px;
      }
    }
  }
}

.top-sidebar {
  width: 345px;
  margin: 20px;
  background-color: #fff;

  .header {
    margin-top: 20px;
    font-size: 24px;
    width: 50%;
    line-height: 1.0em;
  }

  .latest-topic {
    border-top: 1px solid $fontGrayColor;
    .category {
      margin: 20px;
      font-size: 12px;
    }

    .title {
      font-size: 18px;
      color: $fontNavyColor;
    }

    .text {
      color: $fontGrayColor;
    }

  }
  .button-area {
    text-align: center;
    margin: 30px 0;
  }
}
