#topicEditor
input#topic-editor-categories type="hidden" value='#{@categories}'
input#topic-editor-action type="hidden" value="#{params[:action]}"
input#topic-id type="hidden" value="#{@topic.id}"


= javascript_include_tag 'webpack/Editor'
