.btn {
  border-radius: 0;
  margin-bottom: 5px;
}

.btn-main {
  @include button-variant(#fff, $mainColor, $mainColor);
}

.btn-sub {
  @include button-variant(#fff, $subColor, $subColor);
}

.btn-gray {
  @include button-variant($fontBlackColor, $bgGrayColor, $bgGrayColor);
}

.btn-submit {
  padding: 15px 0;
  background: #1c1d2f;
  width: 100%;
  color: #75f14b;
  border-color: #75f14b;
}
