.card {
  width: 100%;
  box-shadow: 0 2px 2px $borderColor;
  background-color: #FFFFFF;
  margin-bottom: 20px;

  &.card-project-01 {
    height: 320px;
    @media (max-width: 767px) {
      height: auto;
    }
    a {
      color: $fontBlackColor;
      width: 100%;
      height: 100%;
      display: block;
      &:hover {
        background-color: #efefef;
        transition: 0.8s;
      }
    }
    img {
      width: 100%;
      height: 180px;
      display: block;
      object-fit: cover;
      border-bottom: 1px solid $borderColor;
      @media (max-width: 767px) {
        height: 120px;
      }
    }
    .position {
      margin-bottom: 10px;
    }

    &.three-column-height {
      @media (min-width: 767px) {
        height: 340px;
      }
    }
  }

  &.card-project-02 {
    a {
      color: $fontBlackColor;
      width: 100%;
      height: 100%;
      display: block;
      &:hover {
        background-color: #efefef;
        transition: 0.8s;
      }
    }
    img {
      width: 120px;
      height: 120px;
      display: block;
      object-fit: cover;
      border-right: 1px solid $borderColor;
    }
    .position {
      margin-bottom: 5px;
    }
    @media (max-width: 767px) {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  &.card-company-01 {
    height: 265px;
    @media (max-width: 767px) {
      height: auto;
    }
    a {
      color: $fontBlackColor;
      width: 100%;
      height: 100%;
      display: block;
      &:hover {
        background-color: #efefef;
        transition: 0.8s;
      }
    }
    img {
      width: 100%;
      height: 180px;
      display: block;
      object-fit: cover;
      border-bottom: 1px solid $borderColor;
      @media (max-width: 767px) {
        height: 120px;
      }
    }
    .company-name {
      margin-bottom: 5px;
    }
  }
  .content {
    padding: 15px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .item {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.card-translucent {
    background-color: #ffffffee;
  }
}

.feature-slide:hover {
  .card-feature {
    background-color: #efefefee;
    transition: 0.8s;
  }
}