.footer {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
  padding-top: 20px;
  height: 200px;
  background-color: $fontNavyColor;
  color: #fff;
  padding: 20px;
  .category-title {
    grid-column: 1;
    grid-row: 1;
  }
  .category-list {
    grid-column: 1;
    grid-row: 2;
  }
  .copyright-area {
    grid-column: 2;
    grid-row: 3;
    justify-items: center;
  }
}
