header.header {
  background: $fontNavyColor;
  width: 100%;
}

/* pc */
@media screen and (min-width: 961px) {
  .background-border {
    border-right: 1px solid $fontNavyColor;
    height: 100%;
    position: fixed;
    left: 60px;
    top: 40px;
    z-index: -1;
  }
}
/* tablet  */
@media only screen and (min-width: 641px) and (max-width: 960px) {
  .background-border {
    border-right: 1px solid $fontNavyColor;
    height: 100%;
    position: fixed;
    left: 60px;
    top: 40px;
    z-index: -1;
  }
}



/* smartPhone */
@media screen and (max-width: 640px) {
  .background-border {
    border-right: 1px solid $fontNavyColor;
    height: 100%;
    position: fixed;
    left: 18px;
    top: 0px;
    z-index: -1;
  }
}
