header.header {
  width: 100%;
  margin: 10px 0;

  .logo{
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    height: 52px;
    background-size: contain;
    background-position: center;
  }
}

/* pc */
@media screen and (min-width: 961px) {

}
/* tablet  */
@media only screen and (min-width: 769px) and (max-width: 960px) {

}

/* smartPhone */
@media screen and (max-width: 768px) {
}
