/* pc */
@media screen and (min-width: 961px) {
  main.children-category-main {
    width: 1030px;
    margin: 0 auto;
    display: grid;
    grid-template:
      'info info info' auto
      'section section sidebar' auto
      / 1fr 1fr auto;

    .children-info-area {
      grid-area: info;
      margin: 42px;
      .description {
        margin-left: 20px;
      }
    }

    section {
      grid-area: section;
      .children-article {
        margin: 20px;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        'img title'
        'img description';
        img {
          grid-area: img;
          max-height: 300px;
          max-width: 250px;
         }

        .title {
          grid-area: title;
        }

        .description {
          grid-area: description;
        }
      }
    }

    aside {
      grid-area: sidebar;
      .article-sidebar {
        padding: 20px;
        width: 345px;
        margin: 20px;
        background-color: #fff;

        .header {
          margin-top: 20px;
          font-size: 24px;
          width: 50%;
          line-height: 1.0em;
        }

        .latest-topic {
          border-top: 1px solid $fontGrayColor;

          .category {
            margin: 20px;
            font-size: 12px;
          }

          .title {
            font-size: 18px;
            color: $fontNavyColor;
          }

          .text {
            color: $fontGrayColor;
          }
        }

        .button-area {
          text-align: center;
          margin: 30px 0;
        }
      }
    }
  }
}


/* tablet  */
@media only screen and (min-width: 769px) and (max-width: 960px) {
  main.children-category-main {
    display: grid;
    grid-template:
      'info info info' auto
      'section section sidebar' auto
      / 1fr 1fr 1fr;

    .children-info-area {
      grid-area: info;
      margin: 42px;
      .description {
        margin-left: 20px;
      }
    }

    section {
      grid-area: section;
      .children-article {
        margin: 20px;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        'img title'
        'img description';
        img {
          grid-area: img;
          max-height: 300px;
          max-width: 250px;
         }

        .title {
          grid-area: title;
        }

        .description {
          grid-area: description;
        }
      }
    }

    aside {
      grid-area: sidebar;
      .article-sidebar {
        padding: 20px;
        width: 100%;
        margin: 20px;
        background-color: #fff;

        .header {
          margin-top: 20px;
          font-size: 24px;
          width: 50%;
          line-height: 1.0em;
        }

        .latest-topic {
          border-top: 1px solid $fontGrayColor;

          .category {
            margin: 20px;
            font-size: 12px;
          }

          .title {
            font-size: 18px;
            color: $fontNavyColor;
          }

          .text {
            color: $fontGrayColor;
          }
        }

        .button-area {
          text-align: center;
          margin: 30px 0;
        }
      }
    }
  }
}



/* smartPhone */
@media screen and (max-width: 768px) {
  main.children-category-main {
    display: grid;
    grid-template:
      'info' auto
      'section' auto
      'sidebar' auto
      / auto;

    .children-info-area {
      grid-area: info;
      margin: 42px;
      .description {
        margin-left: 20px;
      }
    }

    section {
      grid-area: section;
      .children-article {
        margin: 20px;
        background: #fff;
        display: grid;
        grid-template:
        'img title' 1fr
        'img description' 1fr
        / 1fr 1fr;
        img {
          grid-area: img;
          max-height: 200px;
          max-width: 155px;
         }

        .title {
          grid-area: title;
        }

        .description {
          grid-area: description;
        }
      }
    }

    aside {
      grid-area: sidebar;
      .article-sidebar {
        padding: 20px;
        width: 100%;
        margin: 20px 0px;
        background-color: #fff;

        .header {
          margin-top: 20px;
          font-size: 24px;
          width: 50%;
          line-height: 1.0em;
        }

        .latest-topic {
          border-top: 1px solid $fontGrayColor;

          .category {
            margin: 20px;
            font-size: 12px;
          }

          .title {
            font-size: 18px;
            color: $fontNavyColor;
          }

          .text {
            color: $fontGrayColor;
          }
        }

        .button-area {
          text-align: center;
          margin: 30px 0;
        }
      }
    }
  }
}
